<h1>ユーザー情報の編集</h1>

<% if @user.errors.any? %>
  <%= @user.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h2>User info</h2>
<%= form_with model: @user, url: user_path(@user.id), method: :patch, local:true do |f| %>

  <label fro="user_name">Name</label>
  <%= f.text_field :name %>
  
  <label for="user_image">Image</label>
  <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
  
  <label for="user_introdu">Introduction</label>
  <%= f.text_area :introduction %>
  
  <%= f.submit 'Update User' %>
<% end %>