<%= render 'user_info', user: @user, book: @new_book %>

<h1>Book detail</h1>
<tbody>
  <tr>
    <td>
      <%= link_to user_path(@book.user_id) do %>
        <%= image_tag @book.user.get_profile_image(100, 100) %>
      <% end %>
      <p><%=  link_to @user.name, user_path(@book.user_id) %></p>
      <%=  link_to @book.title, book_path(@book.id) %>
      <%= @book.body %>
      <% if @book.user == current_user %>
        <%= link_to "Edit", edit_book_path %>
        |
        <%= link_to "Destroy", book_path(@book), method: :delete %>
      <% end %>
    </td>
  </tr>
</tbody>

